In [1]:
import pandas as pd
import numpy as np

In [8]:
poke=pd.read_csv("/Users/Shuxian/Documents/CSYE7200-Fall2016/predictemall/300k.csv",low_memory=False)

#### Drop pokemonId and S2 columns

In [9]:
poke.drop(poke.columns[[0,5,6,7,8,9,10,11]],axis=1,inplace=True)

#### Filter: return America only, around 150k rows * 200 columns

In [14]:
poke=poke.loc[poke['continent'] == 'America']

#### check distinct city names

In [35]:
citys=poke.city.unique()

In [61]:
for city in citys:
    city=city.strip()
    city=city.replace("_"," ")
    print(city)

Mexico City
New York
Los Angeles
Chicago
Edmonton
Phoenix
Vancouver
Denver
Toronto
Monterrey
Winnipeg
Montreal
Puerto Rico
Sao Paulo
Halifax
Regina
Guayaquil
Detroit
Bahia
Boise
Bogota
Santiago
Costa Rica
Fortaleza
Belem
Guyana

#### 'New_York', 'Los_Angeles', 'Chicago','Phoenix','Denver','Puerto_Rico','Detroit','Boise

In [68]:
from geopy.geocoders import Nominatim
import json

In [71]:
geolocator = Nominatim()
location = geolocator.reverse("20.525745, -97.460829")
# print(location.address)
location.raw

{'address': {'city': 'Poza Rica de Hidalgo',
  'country': 'México',
  'country_code': 'mx',
  'county': 'Terrenos del Lote  Poza Rica',
  'postcode': '93260',
  'road': 'Calle 2 Oriente',
  'state': 'Veracruz de Ignacio de la Llave'},
 'boundingbox': ['20.5257071', '20.5257434', '-97.4619299', '-97.4586004'],
 'display_name': 'Calle 2 Oriente, Poza Rica de Hidalgo, Terrenos del Lote  Poza Rica, Poza Rica de Hidalgo, Veracruz de Ignacio de la Llave, 93260, México',
 'lat': '20.5257319',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 'lon': '-97.4603146',
 'osm_id': '185126690',
 'osm_type': 'way',
 'place_id': '107011101'}

In [15]:
poke.head(5)

,latitude,longitude,appearedLocalTime,_id,appearedTimeOfDay,appearedHour,appearedMinute,appearedDayOfWeek,appearedDay,appearedMonth,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,night,5,57,dummy_day,8,8,...,False,False,False,False,False,False,False,False,False,16
1,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,night,5,57,dummy_day,8,8,...,False,False,False,False,False,False,False,False,False,133
2,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,night,5,57,dummy_day,8,8,...,False,False,False,False,False,False,False,False,False,16
3,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,night,5,56,dummy_day,8,8,...,False,False,False,False,False,False,False,False,False,13
4,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,night,5,56,dummy_day,8,8,...,False,False,False,False,False,False,False,False,False,133

np.unique(poke[.columns[49:50]])

zipcode=pd.read_csv("/Users/Shuxian/Downloads/us_zipcode/US Zip Codes from 2013 Government Data")

zipcode["LAT"]